AcceptEnv LANG LC_*
AuthorizedKeysCommand /usr/lib/stns/stns-key-wrapper
AuthorizedKeysCommandUser root
ChallengeResponseAuthentication no
DenyUsers cdsl
HostKey /etc/ssh/hostkeys/ssh_host_dsa_key
HostKey /etc/ssh/hostkeys/ssh_host_ecdsa_key
HostKey /etc/ssh/hostkeys/ssh_host_ed25519_key
HostKey /etc/ssh/hostkeys/ssh_host_rsa_key
LogLevel VERBOSE
PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
PrintMotd no
PubkeyAuthentication yes
Subsystem sftp  /usr/lib/openssh/sftp-server
UsePAM yes
X11Forwarding yes
