LogLevel VERBOSE
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp  /usr/lib/openssh/sftp-server
PubkeyAuthentication yes
AuthorizedKeysCommand /usr/lib/stns/stns-key-wrapper
AuthorizedKeysCommandUser root
PasswordAuthentication no
DenyUsers cdsl
PidFile /tmp/sshd.pid

HostKey /etc/ssh/hostkeys/ssh_host_dsa_key
HostKey /etc/ssh/hostkeys/ssh_host_ecdsa_key
HostKey /etc/ssh/hostkeys/ssh_host_ed25519_key
HostKey /etc/ssh/hostkeys/ssh_host_rsa_key
