AcceptEnv LANG LC_*
AuthorizedKeysCommand /usr/lib/stns/stns-key-wrapper
AuthorizedKeysCommandUser root
ChallengeResponseAuthentication no
DenyUsers cdsl
LogLevel VERBOSE
PasswordAuthentication no
PidFile /tmp/sshd.pid
PrintMotd no
PubkeyAuthentication yes
Subsystem sftp /usr/lib/openssh/sftp-server
SyslogFacility AUTHPRIV
UseDNS no
UsePAM yes
X11Forwarding yes

MaxSessions 50
ClientAliveInterval 30
ClientAliveCountMax 10

HostKey /etc/ssh/hostkeys/ssh_host_dsa_key
HostKey /etc/ssh/hostkeys/ssh_host_ecdsa_key
HostKey /etc/ssh/hostkeys/ssh_host_ed25519_key
HostKey /etc/ssh/hostkeys/ssh_host_rsa_key
